  <div class="ui fixed inverted menu">
    <div class="ui container">
      <%= link_to 'Home', '/', class: 'header item' %>
      <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
    </div>
  </div>