<div class="home_page">
  <%= render 'splash_page_navbar' %>
  <div class="ui main text container home_page_heading">
    <span class="fadeInUp main_header_text">Welcome to Team Suite Manager!</span><br/>
    <p class="fadeInUp">Get ready to save time and increase productivity with these features:</p>
    <div class="home_list_and_button">
      <div class="ui list home_page_feature_list">
        <div class="item fadeInRight">
          <i class="folder icon"></i>
          <div class="content">
            Easy Project Creation
          </div>
        </div>
        <div class="item fadeInRightSecond">
          <i class="id card icon"></i>
          <div class="content">
            User Authentication and Authorization
          </div>
        </div>
        <div class="item fadeInRightThird">
          <i class="comments icon"></i>
          <div class="content">
            Chat Rooms
          </div>
        </div>
        <div class="item fadeInRightFourth">
          <i class="plus icon"></i>
          <div class="content">
            <em>More coming soon!</em>
          </div>
        </div>
      </div>

    <div class="ui text container fadeInRightFifth">
      <a href="/sign_in" class=" ui animated blue button fadeInFifth" tabindex="0">
        <div class="visible content">Get Started!</div>
        <div class="hidden content">
          Let's Go!
        </div>
      </a>
    </div>
  </div>
</div>
<%= render 'footer_page' %>

