<%= form_with model: @project, html: {class: "ui form add_user"} do |f| %>
  <div class="ui error message"></div>
  <div class="field">
    <label>Add Members</label>
    <%= f.collection_select :user_ids, User.all-@project.users, :id ,:name, { include_blank: false, :include_hidden => false }, { class: "ui dropdown", :multiple => true } %>
  </div>
  <%= f.submit 'Add Users', class: 'ui button' %>
<% end %>

<div class="ui form project_status">
  <div class="field">
      <label>Project Status</label>
      <div class="ui selection dropdown">
          <input type="hidden" name="gender">
          <i class="dropdown icon"></i>
          <div class="default text">
            <% if @project.complete%>
            Complete
            <% else %>
            In Progress
            <% end %>
          </div>
          <div class="menu">
              <div class="item" data-value="1">In Progress</div>
              <div class="item" data-value="0">Complete</div>
          </div>
      </div>
  </div>
</div>


