<div class="ui list">
  <div class="item">
    <img class="ui avatar image" src="https://robohash.org/<%= @project_owner.email%>">
    <div class="content">
      <a class="header"><%= @project_owner.name %></a>
      <div class="description">Project Owner</div>
    </div>
  </div>
  <div class="item">Current Status: <%= @project.complete %></div>
  <div class="item">Description: <%= @project.description %></div>
</div>