<div class="ui form">
  <div class="field">
    <h1>Members</h1>
    <div class="ui middle aligned divided list">
      <% @project.users.each do |user| %>
      <div class="item">
        <div class="right floated content">
          <%= link_to 'Remove', "", class: 'ui button' %>
        </div>
        <img class="ui avatar image" src="https://api.adorable.io/avatars/40/<%=user.email%>.png">
        <div class="content">
          <%=user.name%>
        </div>
      </div> 
      <% end %>
    </div>
  </div>
</div>
