<h1>Current Projects</h1>
<% if current_user %>
  <% if current_user.projects.any? %>
    <% current_user.projects.each do |project| %>
    <p><%= project.title%></p>
    <p><%= project.description%></p>
  <% end %>
  <% else %>
    <p>There are no projects assigned or created yet.</p>
  <% end %>
<% else %>
  <p>Please sign in to see projects.</p>
<% end %>
