<p>These are all the posts.</p>
<%= form_with  url: project_posts_path(@project), html: {class: "ui form"} do |f| %>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <%= f.submit class: 'ui button' %>
<% end %>