<div class="ui divided items">
<% @project.posts.created_at.each do |post| %>
  <div class="item">
    <div class="ui tiny image circular">
      <img src="https://robohash.org/<%= post.title %>%">
    </div>
    <div class="content">
      <div class="header"><%= link_to "#{post.title}", project_post_path(post) %></div>
      <div class="description">
        <p><%= post.comment %></p>
      </div>
      <div class="extra">
        <div class="ui right floated">
          Posted: <%= post.created_at.strftime('%b%d, %I:%M%p') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>


