<h1 class="ui center aligned header">
  <%=@post.title%>
  <div class="sub header">Post Creator: <%=@post.user.name%></div>
  <div class="sub header">Posted: <%=@post.created_at.strftime('%b%d, %I:%M%p')%></div>
</h1>

<%= render 'post_comments/add_comment_to_a_project' %>