/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";

.add_users_button.ui.button {
    position: absolute;
    bottom: 0;
}

.devise_headers {
    text-align: center;
}

#sign_up_buttons {
    margin: auto;
    text-align: center;
}

.google_sign_in {
    text-align: center;
    margin-top: 8px;
}

.sign_in_and_sign_up_forms {
    max-width: 450px;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 600px) {
    #navbar {
        display: none;
    }
    .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pushed_content {
        width: calc(100% - 260px);
    }
}

@media screen and (max-width: 600px) {
    .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pushed_content {
        width: 100%;
    }
}

// iOS adjustment for Sidebars
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}