<div class="flash_container">
  <% flash.each do |key, value| %>
    <div class="ui message <%=key%>">
    <i class="close icon"></i>
    <div>
      <%= value %>
    </div>
    </div>
  <% end %>
</div>