<div class="ui menu">
  <a href="/">
    <div class="header item">
      PM Tools
    </div>
  </a>
  <%= link_to 'New Project', new_project_path, class: 'item' %>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a>
</div>