<div class="ui menu">
  <a href="/">
    <div class="header item">
      PM Tools
    </div>
  </a>
  <%= link_to 'New Project', new_project_path, class: 'item' %>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a>
  <% if current_user %>
    <%= link_to 'Sign Out', destroy_user_session_path, :data => {:method => 'delete'}, class: 'item right' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'item right' %>
  <% end %>
  
</div>